.cards-container .default-content-wrapper h2 {
  font-weight: 200;
  font-size: var(--heading-font-size-s);
  text-align: center;
}

.cards-container .default-content-wrapper h4 {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: var(--body-font-size-xxs);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  text-align: center;
  margin-bottom: 40px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* card typography */
.cards .cards-card-body h3 {
  font-weight: 400;
  font-size: var(--body-font-size-xs);
  margin: 0;
}

.cards .cards-card-body h3 strong {
  font-weight: 500;
  font-size: var(--heading-font-size-xs);
  margin: 0;
}

.cards .cards-card-body h4,
.cards .cards-card-body h5 {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: var(--body-font-size-xxs);
  margin: 0;
}


/* small cards */


/* variable cards */

/* editorial cards */

.editorial-cards:not(.product-cards) .cards > ul {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

.editorial-cards:not(.product-cards) .cards ul li:first-of-type,
.editorial-cards:not(.product-cards) .cards ul li:nth-of-type(2),
.editorial-cards:not(.product-cards) .cards ul li:nth-of-type(3) {
  grid-column: span 4;
  
}

.editorial-cards:not(.product-cards) .cards ul li {
  grid-column: span 3;
}

.editorial-cards:not(.product-cards) .cards ul li .cards-card-body {
  text-align: center;
}


/* product cards */


/* editorial and product cards */
.editorial-cards.product-cards .cards ul li:first-of-type {
  position: relative;
}

@media (width >= 900px) {
  .editorial-cards.product-cards .cards ul li:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    position: relative;
  }
}

.editorial-cards.product-cards .cards ul li:first-of-type .cards-card-image {
  height: 100%;
}

.editorial-cards.product-cards .cards ul li:first-of-type .cards-card-image img {
  height: 100%;
}

.editorial-cards.product-cards .cards ul li:first-of-type .cards-card-body {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media (width >= 900px) {
  .editorial-cards.product-cards .cards ul li:first-of-type .cards-card-body {
    bottom: 50px;
    left: 50px;
  }
}

.editorial-cards.product-cards .cards ul li:first-of-type .cards-card-body a {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  display: block;
}